/* Google Font Imports */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* Header Text | style: handwriting */
/* Zeroing Elements */
* {
  padding: 0;
  margin: 0;
}

.article::first-letter {
  color: #135394;
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Pacifico', cursive;
}

.header {
  background: #135394;
  color: #FFFFFF;
  height: 15vh;
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.main {
  grid-area: main;
  //display: flex;
}

.footer {
  grid-area: footer;
  background: #323232;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: calc(15vh + 50px) 1fr 250px;
  grid-template-columns: minmax(0, 150px) minmax(250px, 1fr) minmax(0, 150px);
  grid-template-areas:
    ". . ."
    ". main ."
    "footer footer footer";
  grid-gap: 25px;
}

.hidden {
  display: none;
}
