/****************************************/
/*             Fonts Import             */
/****************************************/

/* link text */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* header text */
@import url('https://fonts.googleapis.com/css?family=Bungee');

/* body text */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300');

/****************************************/
/*         Colour Scheme Format         */
/****************************************/

/* material design colours */
  /* #0D47A1 B900*/
  /* #1976D2 B700 */
  /* #448AFF BA200 */
  /* #90CAF9 B200 */

/* colour scheme */
  /* primary blue material 900 #0D47A1 */


  /****************************************/
  /*                Setup                 */
  /****************************************/

/* root html element for responsive font sizing */
html
{
  font-size: 1.5vw;
}

/* implying links to the user */
a
{
  cursor: pointer;
}

/* CSS defaults */
body
{
  /* removal of margin and padding to make the website appear the same on different devices and browsers */
  margin: 0;
  padding: 0;

  text-align: justify;

  /* main website body / content font */
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* default image size */
/* preventing images being displayed to stretch the users viewport */
img
{
  height: 100px;
  width: 100px;
}

 /* bold tag */
b,
bold
{
  color: #0D47A1;
}

/* content title */
h3
{
  text-align: center;
  font-family: 'Bungee', cursive;
  color: #0D47A1;
}

/* top of page link */
div.top
{

  /* absolute positioning used to make the object appear in the same top location of the page while not being stuck to the users screen */
  position: absolute;
  top: 10px;

}

/****************************************/
/*             Scroll Bars              */
/****************************************/

*::-webkit-scrollbar
{
      width: 10px;
      height: 10px;
}

*::-webkit-scrollbar-track
{
      background-color: #ddd;
}

*::-webkit-scrollbar-thumb
{
  background-color: #1976D2;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover
{
  border: 4px solid;
  border-color: rgba(0,0,255,0.1);
}

/****************************************/
/*             Alt Versions             */
/****************************************/

/* disable the view of mobile navigation when the website is on the desktop version */

/* desktop first designed website due to how information is displayed within the design process */

details.mNav
{
  display: none;
}

/* when javascript is enabled, hide the javascript disabled popup */

section.noJS
{
  display: none;
}

/****************************************/
/*                Header                */
/****************************************/

/* class responsive: when exiting splash screen mode */

header
{
  /* hightlight colour behind image */
  background-color: #1976D2;

  /* display throughout the users viewport */
  width: 100%;
  height: 100vh;

  /* animate between size changes */
  transition: .5s;
}

header.responsive
{
  /* half to be used as a title */
  height: 50vh;
}

header img
{
  /* fill container */
  width: 100%;
  height: 100%;

  /* use background colour as a highlight */
  filter: opacity(70%);

  /* animate altering image */
  transition: .5s;
}

header.responsive img
{
  /* remove filter to stop affecting other elements */
  filter: none;
  /* animate between style */
  height: 50%;
  /* hide image */
  filter: opacity(0%);
}

header h1
{
  /*
    Design inspired from w3schools to create a centered text effect
    https://www.w3schools.com/howto/howto_css_image_text.asp
  */

  transition: .5s;

  /* center positioning title text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* font style */
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;

  color: black;
  filter: opacity(70%);
}

header.responsive h1
{
  /* title text design */
  top: 25%;
  color: white;
  filter: opacity(100%);
}

/* header text visible | title text hidden */
header h1 span.off
{
  visibility: hidden;
}

header h1 span.on
{
  visibility: visible;
}

/* header text hidden | title text visible */
header.responsive h1 span.off
{
  visibility: visible;

  /* resetting positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header.responsive h1 span.on
{
  visibility: hidden;
}

/****************************************/
/*             Navigation               */
/****************************************/

nav
{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  height: 5vh;

  /* bottom constraint to break */
  min-height: 25px;
  transform: .5s;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  box-sizing: border-box;
  transition: .5s;
  filter: opacity(50%);
}

nav a
{
  flex-grow: 1;
  text-align: center;
}

nav a .logo
{
  display: inline-block;
  transition: .5s;
  filter: brightness(100%);
  height: 5vh;
  width: 5vh;

  /* minimun constraints */
  min-height: 25px;
  min-width: 25px;
}

nav > ul
{
  font-family: 'Roboto', sans-serif;

  list-style: none;

  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}

nav > ul li
{
  text-align: center;

  margin: 0;
  padding: 0;
}

nav > ul li a
{
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  font-size: auto;
  padding: 2px;
}

nav > ul li a.active,
nav > ul li a:hover
{
  background-color: #ddd;
  color: #000;
}

/*
  responsive navigation
*/

nav.responsive .logo
{
  height: 10vh;
  width: 10vh;
  filter: brightness(200%);
}

nav.responsive
{
  height: 10vh;
  background-color: black;
  filter: opacity(100%);
}

nav.responsive > ul li a
{
  padding: 0.5rem;
  color: #fff;
  border-radius: 10px;
}

nav.responsive > ul li a.active,
nav.responsive > ul li a:hover
{
  background-color: #0D47A1;
  color: #ddd;
  font-weight: bold;
}

/****************************************/
/*            Sub Navigation            */
/****************************************/

section.subnav
{
  margin-top: 0;

  /* makes the navigation not become unreadable when the user descreases window height */
  min-height: 25px;

  /* sets the height relative to the users device */
  height: calc(5vh + 1px);

  /* makes sure the height does not go more than 1 line */
  max-height: 2ch;

  /* sets the width to the fullscreen/viewport width  */
  width: 100%;

  /* highlight the main navigation bar */
  background-color: #0D47A1;
  font-size: auto;

  /* makes the navigation follow the user when they reach it on the page, under the main nav bar */
  position: sticky;
  /* reset z-index to display above content and behind objects */
  z-index: 1;
  top: calc(10vh - 1px);

}

section.subnav > ul
{
  /* link font */
  font-family: 'Roboto', sans-serif;

  /* removes added margins */
  margin: 0;

  /* removes bullet points */
  list-style: none;

  /* format text */
  font-weight: bold;
  text-decoration: none;

  /* set objects position */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.subnav > ul li a
{
  text-decoration: none;
  color: #fff;
}

/****************************************/
/*             Main Wrapper             */
/****************************************/

.wrapper
{
  width: 100%;
  overflow: hidden;
  min-height: 110vh;
  display: grid;
  grid-template-columns: minmax(0, 6em) auto minmax(0, 6em);
  grid-auto-rows: 3rem 1fr 3rem;

  grid-template-areas:
    ".    .    ."
    ". content ."
    ".    .    .";
}

main
{
  grid-area: content;

  /* limit to prevent x-axis scrolling elements */
  /* needed because of x-axis grids made with flex, grid or normal css */
  max-width: calc(100vw - 10px);
  overflow-x: hidden;
}

/****************************************/
/*           Content Headings           */
/****************************************/

/* main headings */
section.heading
{
  background-color: #1976D2;
  color: #fff;

  width: 100%;

  text-align: center;
  user-select: none;
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;

  height: 25vh;
  margin: 3rem 0;

  display: flex;
  align-items: center;
  justify-content: center;


}

/* sub headings */
section.heading.sub
{
  width: 50%;
  height: 15vh;
  margin-left: 25%;
  border-radius: 50px;
}

/* sub heading links */
/* used to change the users location on the page or remove/close a sub section */
section.heading.sub a
{
  /* removes link decoration */
  user-select: none;
  text-decoration: none;

  /* sets text colour to white */
  /* making it readable on the sub heading */
  color: #fff;
}

/*
  Solution Based On Slack Overflow Solution:
  https://css-tricks.com/hash-tag-links-padding/
*/

/* on page reference markers */
section.marker
{
  /* creates a block element and hides it from the users view */
  display: block;
  visibility: hidden;
  content: " ";

  /* sets the height to the same as the websites header */
  height: 15vh;

  /* positions the object relative to the marked element which alters the on page bookmark location */
  margin-top: calc(3rem - 15vh);
  margin-bottom: calc(-3rem + 10px);
}

/* fix for website footer */
section.Fmarker
{
  /* similar to marker above */
  display: block;
  visibility: hidden;
  content: " ";
  height: 15vh;

  margin-top: -15vh;
  /* changed by removing the padding of sub headings */
}

/****************************************/
/*              Flex Boxes              */
/****************************************/

/* flexbox ratio: 1 to 1 */
.flex11
{
  display: flex;
  flex-flow: row wrap;
}

.flex11 > :nth-child(odd)
{
  width: calc(50% - 15px);
  padding: 15px;
  padding-left: 0;
}

.flex11 > :nth-child(even)
{
  width: calc(50% - 15px);
  padding: 15px;
  padding-right: 0;
}

/* flexbox ratio: 1 to 2 */
.flex12
{
  display: flex;
  flex-flow: column wrap;
}

.flex12:nth-child(1)
{
  flex-grow: 1;
}

.flex12:nth-child(2)
{
  flex-grow: 2;
}

/* reverse wrap */
.flexre
{
  flex-wrap: wrap-reverse;
}
/****************************************/
/*             Terminology              */
/****************************************/

/* hide spans for control */
section.terminology > span
{
  visibility: hidden;
}

section.terminology
{
  height: 200px;
  overflow: hidden;

  overflow-y: scroll;
}

/* remove dropdown */
section.terminology section details summary::-webkit-details-marker {
 display:none;
}

section.terminology section details summary
{
  /* imply to user */
  cursor: pointer;

  /* overall format */
  background-color: #1976D2;
  filter: opacity(25%);

  /* animate */
  transition: .5s;

  /* make the text readable */
  padding: 5px;
  color: white;
  text-align: center;
  user-select: none;
}

section.terminology section:hover details summary
{
  /* reset filters */
  filter: opacity(100%) brightness(120%);
}

section.terminology section details section
{
  /* font style */
  font-style: italic;
  font-weight: 200;
  font-size: 0.9em;

  padding: 15px;
}

section.terminology section:hover details section
{
  /* highlight content */
  font-weight: 400;
}


/****************************************/
/*               Authors                */
/****************************************/

section.authors
{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section.authors a
{
  text-align: center;
  text-decoration: none;

  width: 200px;
  max-width: 50%;

  margin: 15px;
  padding: 10px;
  color: black;

  border: 10px solid;
  border-color: #fff;
}

section.authors a img
{
  border-radius: 50%;
  width: 75%;
  height: 25%;
}

section.authors a p
{
  /* constrain text */
  max-height: 11ch;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 100;

}

section.authors a b
{
  color: #1976D2;

}

/* authors name link */
section.authors a h1
{
  font-family: 'Bungee', cursive;
  color: #1976D2;

  font-transform: uppercase;
}

/* on hover */
section.authors a:hover
{
  background-color: #1976D2;
  border-color: #0D47A1;
}

section.authors a:hover p,
section.authors a:hover b,
section.authors a:hover h1
{
  color: white;
}
/****************************************/
/*               Openings               */
/****************************************/

section.openings
{
  width: 100%;
  height: 265px;

  overflow: hidden;
  overflow-x: auto;
}

/* x-axis scrollbar wrapper */
section.openings div.xscrollbarwrapper
{
  display: block;

  /* force the width of the element to fill with all the card items */
  /* change when updating html using format */
  width: calc(250px * 6);
  /* format: calc(S * N) */
  /* S = Box Size */
  /* N = Number of Elements */

  /* height of cards */
  height: 250px;
}

/* x-axis scrollbar cards */
section.openings div.card
{
  background-color: rgba(200,200,200,0.15);
  transition: .5s;
  cursor: pointer;

  /* force elements on a single line */
  float: left;

  /* space elements from each other */
  width: calc(250px - (2 * 15px));
  height: calc(250px - (2 * 15px));
  margin: 15px;

  border-radius: 15px;
}

section.openings div.card:hover
{
  background-color: #ddd;
}




/****************************************/
/*               Article                */
/****************************************/

/* article display limitations */
article
{
  /* limit the article viewport */
  width: 100%;
  height: 70vh;

  /* hide overflow information, forces scroll bar behaviour */
  overflow-y: scroll;
  overflow-x: hidden;

  /* used to adjust information content locations relative to the article */
  position: relative;

  /* setting article border */
  border-left: 5px solid;
  border-bottom: 5px solid;
  border-color: #1976D2;

  /* border radius layout */
  border-bottom-left-radius: 25px;
  border-top-left-radius: 30px;

}

article section
{
  padding: 10px;
  margin: 5px;
}

/* stick the article information when the user scrolls */
article section:first-child
{
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 0;
}

/* article title text */
article section:first-child h1
{
  height: 3ch;

  border-top-left-radius: 25px;
  background-color: #1976D2;
  color: white;

  margin-top: 0;
  text-align: center;

  font-family: 'Bungee', cursive;
  font-size: 1rem;
}

/* dropcap */
article p:first-child::first-letter
{
  font-family: 'Bungee', cursive;
  color: white;
  background-color: #1976D2;
  padding: 0 .3rem;
  border-radius: 25%;
  margin-top: -0.5rem;
  margin-right: 0.3rem;

  font-size: 4rem;
  float: left;
  line-height: 1;

  text-transform: uppercase;
}

/****************************************/
/*                Author                */
/****************************************/

.heading.subnav
{
  z-index: 9999;
}

section.author section.captioned
{
  /* place positioned object behind sub navigation */
  z-index: inherit;

  /* allows other objects to be displayed as a caption */
  position: relative;

  height: 500px;
  padding: 0;
}

section.author section.captioned img.authorpic
{
  /* set the image location back into its origional location */
  width: 100%;
  height: 100%;
}

/* caption title */
section.author section.captioned p
{
  /* set caption to top of image */
  position: absolute;
  top: -20px;
  left: 0;

  /* text format */
  text-align: center;
  color: white;

  background-color: #1976D2;
  width: 100%;
}

/* social media icons */
section.author section.captioned ul
{
  padding: 0;

  list-style: none;
  /* set social links to bottom of image */
  position: absolute;
  bottom: -10px;
  left: 0;

  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

section.author section.captioned ul li
{
  margin: 2px;
  padding: 5px;
  background-color: #1976D2;
  border-radius: 50%;
  filter: opacity(10%) brightness(50%);
  transition: 0.5s;
}

section.author section.captioned:hover ul li
{
  filter: opacity(20%);
}

section.author section.captioned ul li a img
{
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

section.author section.captioned ul li:hover
{
  border-radius: 45%;
  padding: 4.5px;
  margin: 0;
  filter: opacity(100%) brightness(150%);
}

section.author section.captioned ul li:hover a img
{
  height: 35px;
  width: 35px;
}

/****************************************/
/*                Footer                */
/****************************************/

/* footer flex layout */
footer
{
  /* text style */
  background-color: #323232;
  color: #ddd;

  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  text-align: center;

  /* footer wrapper display */
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

footer section.flex
{
  display: flex;
  flex-direction: row;

}

footer section > section
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

footer section > section.flex1
{
  flex-grow: 1;
  width: 50vw;
  padding: 10px 10vw;
  justify-content: center;
}

footer section > section.flex2
{
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

footer section > section img
{

  min-height: 150px;
  min-width: 150px;

  height: 20vw;
  width: 20vw;

  max-height: 500px;
  max-width: 500px;
}

footer section > section iframe.map
{
  height: 450px;
}


/* footer contact information */
footer section.contact-details section ul.contacts,
footer section section ul li
{

  align-items: center;
  /* remove bullet point */
  list-style: none;

  /* set text colour to white */
  color: #fff;

  /* align text to center */
  text-align: left;
}

footer section section ul.contacts li a
{
  /* remove buller points and inherit li font colour */
  text-decoration: none;
  color: inherit;
}

/* highlight links */
footer section section ul.contacts li a:hover
{
  color: #1976D2;
}

/* copyright notice */
h2.copyright
{
  color: #323232;
  background-color: #ddd;
  border-radius: 90%;
  margin: 15px;
}


/****************************************/
/*            Responsivness             */
/****************************************/

/* square monitor version */
@media only screen and (max-width: 950px)
{

  html
  {
    /* root responsive font size */
    font-size: 2vw;
  }

}

/* tablet version */
@media only screen and (max-width: 750px)
{

  html
  {
    /* root responsive font size */
    font-size: 2.5vw;
  }

  section.subnav > ul
  {
    display: none;
  }

  section.heading.sub
  {
    margin-left: calc((100% - 75%) / 2);
    width: 75%;
  }

  section.heading
  {
    height: 10ch;
  }

  /* removal of on hover highlight due to the user tappiing instead of using a mouse */
  section.author section.captioned ul li,
  section.author section.captioned:hover ul li,
  section.author section.captioned ul li:hover
  {
    filter: none;
  }

  /* reformatting of flexboxes */
  .flex11 > :nth-child(odd),
  .flex11 > :nth-child(even)
  {
    padding: 15px 0;
    width: 100%;
  }

  /* removal of buffer spans */
  section.terminology > span
  {
    display: none;
  }

}

/* mobile version */
@media only screen and (max-width: 500px)
{

  html
  {
    /* root responsive font size */
    font-size: 3vw;
  }

  /* increase the overall size of sub headings */
  section.heading.sub
  {
    width: 100%;
    margin-left: 0;
  }

  /* change the display of the authors section on the landing page to mobile readable */
  section.authors
  {
    flex-flow: column nowrap;
    align-items: center;
  }

  /* increase the size of author objects on the landing page */
  section.authors a
  {
    max-width: 75%;
  }

  /****************************************/
  /*  XX           Footer             XX  */
  /****************************************/

  footer
  {
    /* make the text visible to the user */
    font-size: 1rem;
  }

  footer section.flex
  {
    /* reverse the display of footer items */
    flex-direction: column-reverse;

    /* center items */
    justify-content: center;
    align-items: center;

    /* increase the fontsize so that it is readable on mobile */
    font-size: 1rem;
  }

  footer section > section.flex1
  {
    /* reset flex grow size */
    flex-grow: 1;

    /* increase the overall display size */
    width: 75vw;
    padding: 10px 10vw;

    /* center items */
    justify-content: center;
    align-items: center;
  }


}

/****************************************/
/*          Final Adjustment            */
/****************************************/

/*
  Solution for on page links found on stackoverflow

  Which referenced an article on the topic, shown below.
  https://css-tricks.com/hash-tag-links-padding/

*/
/*
  FEATURE REMOVED TO BE REWORKED IN HEADINGS
  PSEUDO ELEMENT DOES NOT WORK WITH HEADER DESIGN

  .bookmark::before
  {
    display: block;
    content: " ";
    height: 15vh;
    margin: -15vh 0 0 0;
    visibility: hidden;
  }

*/

/* hidden elements */
.hidden
{
  height: 0px;
  width: 0px;
  display: none;
  visibility: hidden;
}
