/****************************************/
/*             Fonts Import             */
/****************************************/

/* link text */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/* header text */
@import url('https://fonts.googleapis.com/css?family=Bungee');

/* body text */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300');

/****************************************/
/*         Colour Scheme Format         */
/****************************************/

/* material design colours */
  /* #0D47A1 B900*/
  /* #1976D2 B700 */
  /* #448AFF BA200 */
  /* #90CAF9 B200 */

/* colour scheme */
  /* primary blue material 900 #0D47A1 */


  /****************************************/
  /*                Setup                 */
  /****************************************/

/* root html element for responsive font sizing */
html
{
  font-size: 1.5vw;
}


/* CSS defaults */
body
{
  /* removal of margin and padding to make the website appear the same on different devices and browsers */
  margin: 0;
  padding: 0;

  text-align: justify;

  /* main website body / content font */
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

 /* bold tag */
b,
bold
{
  color: #0D47A1;
}

/* content title */
h3
{
  text-align: center;
  font-family: 'Bungee', cursive;
  color: #0D47A1;
}

/* top of page link */
div.top
{

  /* absolute positioning used to make the object appear in the same top location of the page while not being stuck to the users screen */
  position: absolute;
  top: 10px;

}

/****************************************/
/*             Alt Versions             */
/****************************************/

/* disable the view of mobile navigation when the website is on the desktop version */

/* desktop first designed website due to how information is displayed within the design process */

details.mNav
{
  display: none;
}

/* when javascript is enabled, hide the javascript disabled popup */

section.noJS
{
  display: none;
}

/****************************************/
/*                Header                */
/****************************************/

/* class responsive: when exiting splash screen mode */

header
{
  /* hightlight colour behind image */
  background-color: #1976D2;

  /* display throughout the users viewport */
  width: 100%;
  height: 100vh;

  /* animate between size changes */
  transition: .5s;
}

header.responsive
{
  /* half to be used as a title */
  height: 50vh;
}

header img
{
  /* fill container */
  width: 100%;
  height: 100%;

  /* use background colour as a highlight */
  filter: opacity(70%);

  /* animate altering image */
  transition: .5s;
}

header.responsive img
{
  /* remove filter to stop affecting other elements */
  filter: none;
  /* animate between style */
  height: 50%;
  /* hide image */
  filter: opacity(0%);
}

header h1
{
  /*
    Design inspired from w3schools to create a centered text effect
    https://www.w3schools.com/howto/howto_css_image_text.asp
  */

  transition: .5s;

  /* center positioning title text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* font style */
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;

  color: black;
  filter: opacity(70%);
}

header.responsive h1
{
  /* title text design */
  top: 25%;
  color: white;
  filter: opacity(100%);
}

/* header text visible | title text hidden */
header h1 span.off
{
  visibility: hidden;
}

header h1 span.on
{
  visibility: visible;
}

/* header text hidden | title text visible */
header.responsive h1 span.off
{
  visibility: visible;

  /* resetting positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header.responsive h1 span.on
{
  visibility: hidden;
}

/****************************************/
/*             Navigation               */
/****************************************/

nav
{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  height: 5vh;

  /* bottom constraint to break */
  min-height: 25px;
  transform: .5s;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

  box-sizing: border-box;
  transition: .5s;
  filter: opacity(50%);
}

nav a
{
  flex-grow: 1;
  text-align: center;
}

nav a .logo
{
  display: inline-block;
  transition: .5s;
  filter: brightness(100%);
  height: 5vh;
  width: 5vh;

  /* minimun constraints */
  min-height: 25px;
  min-width: 25px;
}

nav > ul
{
  font-family: 'Roboto', sans-serif;

  list-style: none;

  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}

nav > ul li
{
  text-align: center;

  margin: 0;
  padding: 0;
}

nav > ul li a
{
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;
  font-size: auto;
  padding: 2px;
}

nav > ul li a.active,
nav > ul li a:hover
{
  background-color: #ddd;
  color: #000;
}

/*
  responsive navigation
*/

nav.responsive .logo
{
  height: 10vh;
  width: 10vh;
  filter: brightness(200%);
}

nav.responsive
{
  height: 10vh;
  background-color: black;
  filter: opacity(100%);
}

nav.responsive > ul li a
{
  padding: 0.5rem;
  color: #fff;
  border-radius: 10px;
}

nav.responsive > ul li a.active,
nav.responsive > ul li a:hover
{
  background-color: #0D47A1;
  color: #ddd;
  font-weight: bold;
}

/****************************************/
/*            Sub Navigation            */
/****************************************/

section.subnav
{
  margin-top: 0;

  /* makes the navigation not become unreadable when the user descreases window height */
  min-height: 25px;

  /* sets the height relative to the users device */
  height: calc(5vh + 1px);

  /* makes sure the height does not go more than 1 line */
  max-height: 2ch;

  /* sets the width to the fullscreen/viewport width  */
  width: 100%;

  /* highlight the main navigation bar */
  background-color: #0D47A1;
  font-size: auto;

  /* makes the navigation follow the user when they reach it on the page, under the main nav bar */
  position: sticky;
  top: calc(10vh - 1px);

}

section.subnav > ul
{
  /* link font */
  font-family: 'Roboto', sans-serif;

  /* removes added margins */
  margin: 0;

  /* removes bullet points */
  list-style: none;

  /* format text */
  font-weight: bold;
  text-decoration: none;

  /* set objects position */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section.subnav > ul li a
{
  text-decoration: none;
  color: #fff;
}

/****************************************/
/*             Main Wrapper             */
/****************************************/

.wrapper
{
  width: 100%;
  min-height: 110vh;
  display: grid;
  grid-template-columns: minmax(0, 6em) auto minmax(0, 6em);
  grid-auto-rows: 3rem 1fr 3rem;

  grid-template-areas:
    ".    .    ."
    ". content ."
    ".    .    .";
}

main
{
  grid-area: content;

}

/****************************************/
/*           Content Headings           */
/****************************************/

/* main headings */
section.heading
{
  background-color: #1976D2;
  color: #fff;

  width: 100%;

  text-align: center;
  user-select: none;
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;

  height: 25vh;
  margin: 3rem 0;

  display: flex;
  align-items: center;
  justify-content: center;


}

/* sub headings */
section.heading.sub
{
  width: 50%;
  height: 15vh;
  margin-left: 25%;
  border-radius: 50px;
}

/* sub heading links */
/* used to change the users location on the page or remove/close a sub section */
section.heading.sub a
{
  /* removes link decoration */
  user-select: none;
  text-decoration: none;

  /* sets text colour to white */
  /* making it readable on the sub heading */
  color: #fff;
}

/*
  Solution Based On Slack Overflow Solution:
  https://css-tricks.com/hash-tag-links-padding/
*/

/* on page reference markers */
section.marker
{
  /* creates a block element and hides it from the users view */
  display: block;
  visibility: hidden;
  content: " ";

  /* sets the height to the same as the websites header */
  height: 15vh;

  /* positions the object relative to the marked element which alters the on page bookmark location */
  margin-top: calc(3rem - 15vh);
  margin-bottom: calc(-3rem + 10px);
}

/* fix for website footer */
section.Fmarker
{
  /* similar to marker above */
  display: block;
  visibility: hidden;
  content: " ";
  height: 15vh;

  margin-top: -15vh;
  /* changed by removing the padding of sub headings */
}

/****************************************/
/*              Flex Boxes              */
/****************************************/

/* flexbox ratio: 1 to 1 */
.flex11
{
  display: flex;
  flex-flow: column wrap;
}

/* flexbox ratio: 1 to 2 */
.flex12
{
  display: flex;
  flex-flow: column wrap;
}

.flex12:nth-child(1)
{
  flex-grow: 1;
}

.flex12:nth-child(2)
{
  flex-grow: 2;
}

/****************************************/
/*               Authors                */
/****************************************/

section.authors
{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

section.authors a
{
  text-align: center;
  text-decoration: none;

  width: 200px;
  max-width: 50%;

  margin: 15px;
  padding: 10px;
  color: black;

  border: 10px solid;
  border-color: #fff;
}

section.authors a img
{
  border-radius: 50%;
  width: 75%;
  height: 25%;
}

section.authors a p
{
  /* constrain text */
  max-height: 11ch;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: 100;

}

section.authors a b
{
  color: #1976D2;

}

/* authors name link */
section.authors a h1
{
  font-family: 'Bungee', cursive;
  color: #1976D2;

  font-transform: uppercase;
}

/* on hover */
section.authors a:hover
{
  background-color: #1976D2;
  border-color: #0D47A1;
}

section.authors a:hover p,
section.authors a:hover b,
section.authors a:hover h1
{
  color: white;
}

/****************************************/
/*                Footer                */
/****************************************/

/* footer flex layout */
footer
{
  /* text style */
  background-color: #323232;
  color: #ddd;

  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  text-align: center;

  /* footer wrapper display */
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

footer section.flex
{
  display: flex;
  flex-direction: row;

}

footer section > section
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

footer section > section.flex1
{
  flex-grow: 1;
  width: 50vw;
  padding: 10px 10vw;
  justify-content: center;
}

footer section > section.flex2
{
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

footer section > section img
{

  min-height: 150px;
  min-width: 150px;

  height: 20vw;
  width: 20vw;

  max-height: 500px;
  max-width: 500px;
}

footer section > section iframe.map
{
  height: 450px;
}


/* footer contact information */
footer section.contact-details section ul.contacts,
footer section section ul li
{

  align-items: center;
  /* remove bullet point */
  list-style: none;

  /* set text colour to white */
  color: #fff;

  /* align text to center */
  text-align: left;
}

footer section section ul.contacts li a
{
  /* remove buller points and inherit li font colour */
  text-decoration: none;
  color: inherit;
}

/****************************************/
/*            Responsivness             */
/****************************************/

/* square monitor version */
@media only screen and (max-width: 950px)
{

  html
  {
    /* root responsive font size */
    font-size: 2vw;
  }

}

/* tablet version */
@media only screen and (max-width: 750px)
{

  html
  {
    /* root responsive font size */
    font-size: 2.5vw;
  }

  section.subnav > ul
  {
    display: none;
  }

  section.heading.sub
  {
    margin-left: calc((100% - 75%) / 2);
    width: 75%;
  }

  section.heading
  {
    height: 10ch;
  }

}

/* mobile version */
@media only screen and (max-width: 500px)
{

  html
  {
    /* root responsive font size */
    font-size: 3vw;
  }

  /* increase the overall size of sub headings */
  section.heading.sub
  {
    width: 100%;
    margin-left: 0;
  }

  /* change the display of the authors section on the landing page to mobile readable */
  section.authors
  {
    flex-flow: column nowrap;
    align-items: center;
  }

  /* increase the size of author objects on the landing page */
  section.authors a
  {
    max-width: 75%;
  }

  /****************************************/
  /*  XX           Footer             XX  */
  /****************************************/

  footer
  {
    /* make the text visible to the user */
    font-size: 1rem;
  }

  footer section.flex
  {
    /* reverse the display of footer items */
    flex-direction: column-reverse;

    /* center items */
    justify-content: center;
    align-items: center;

    /* increase the fontsize so that it is readable on mobile */
    font-size: 1rem;
  }

  footer section > section.flex1
  {
    /* reset flex grow size */
    flex-grow: 1;

    /* increase the overall display size */
    width: 75vw;
    padding: 10px 10vw;

    /* center items */
    justify-content: center;
    align-items: center;
  }


}

/****************************************/
/*          Final Adjustment            */
/****************************************/

/*
  Solution for on page links found on stackoverflow

  Which referenced an article on the topic, shown below.
  https://css-tricks.com/hash-tag-links-padding/

*/
/*
  FEATURE REMOVED TO BE REWORKED IN HEADINGS
  PSEUDO ELEMENT DOES NOT WORK WITH HEADER DESIGN

  .bookmark::before
  {
    display: block;
    content: " ";
    height: 15vh;
    margin: -15vh 0 0 0;
    visibility: hidden;
  }

*/

/* hidden elements */
.hidden
{
  height: 0px;
  width: 0px;
  display: none;
  visibility: hidden;
}
