/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||| P A G E  F O O T E R ||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.footer > .contents {
  grid-area: footcontents;
  text-align: center;
}

.footer > h1.title {
  grid-area: foottitle;
  font-family: 'Bungee', cursive;
  color: #ddd;
}

.footer > img.icon {
  grid-area: footlogo;
  display: block;
  margin: auto;
  align: center;
  width: 25vw;
}

.footer > .links {
  text-align: center;
  list-style: none;
}

.footer > .links > li {
  background: red;
}

.footer > .links.left {
  grid-area: footleft;
}

.footer > .links.right {
  grid-area: footright;
}

.footer > b.copyright {
  grid-area: footnotice;
}

.footer {
  /* to reference with grid in wrapper */
  grid-area: footer;

  user-select: none;
  text-align: center;

  min-height: 250px;
  padding: 1rem;

  background: #323232;
  color: #fff;

  display: grid;
  grid-template-rows: 0.5fr 1fr 3fr 1fr 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "foottitle foottitle"
  ". ."
  "footcontents footlogo"
  "footnotice footnotice"
  "footleft footright";
  grid-gap: 0.15rem;
}
