/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||| P A G E  H E A D E R ||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.header {
  background: #135394;
  color: #ddd;

  height: 15vh;
  width: 100%;

  /* font-family: 'Plaster', cursive; */
  /* font-family: 'Diplomata SC', cursive; */
  /* font-family: 'Bungee', cursive; */


  /* font-size: 2vh; */
  padding: 0.25rem;

  top: 0;
  user-select: none;
}

.navigation {
  user-select: none;
}

.header > span.txt {
  float: left;
  text-align: center;
  font-size: 2vh;
  line-height: calc(2vh + 15px);
  font-family: 'Bungee', cursive;
  position: relative;
  top: calc((15vh / 2) - (2 * (2vh +15px)));
}

.header > img.icon {
  height: 15vh;
  width: 15vh;
  margin: 0 0.25rem;
}

.main {
  /* to reference with grid in wrapper */
  grid-area: main;

  /* display using 1D array of data */
  display: flex;
}
