/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||| J A V A S C R I P T  D I S A B L E D ||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/*
  This sections CSS only runs when the user has disabled Javascript within their browser.
*/

.noJS.info > span, .noJS.info > summary {
  z-index: 999;
  position: fixed;
  user-select: none;
}

.noJS.info summary::-webkit-details-marker {
 display:none;
}

.noJS.info > summary {
  bottom: 0;
  right: 0;

  color: red;
  background: rgba(200,200,200,0.5);

  padding: 0.1rem 1rem;

  list-style-type: none;
}

.noJS.info > span {
  top: 10%;
  left: calc(25% - (15px + 0.5rem));

  width: calc(100% / 2);
  min-height: calc(100% / 3);
  max-height: 70%;

  overflow-y: auto;

  padding: 15px;
  border-style: solid;
  border-width: 1rem;

  background: white;
  border-color: rgb(200, 200, 200);

  text-align: center;
}

.noJS.info > span > h3 {
  color: red;
}
