.splash {
  /* float: none; */
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
  ".      .      ."
  ". splashTitle ."
  ". splashIcon  ."
  ".      .      .";
  grid-gap: 1rem;
}

.splash > span.txt {
  grid-area: splashTitle;
  font-size: 7vmin;
  line-height: calc(15vmin);
  text-align: center;
}

.splash > span.txt > * {
  margin: 0;
  padding: 0;
  width: auto;
}

.splash > img.icon {
  grid-area: splashIcon;
  display: block;
  margin: auto;
  align: center;
  height: 50vmin;
  width: 50vmin;
}
